9주차 이서윤 2022159080

1부터 5까지의 정수 리스트 만들기

In [1]:
number_list = []
number_list.append(1)
number_list.append(2)
number_list.append(3)
number_list.append(4)
number_list.append(5)

number_list

[1, 2, 3, 4, 5]

In [2]:
number_list = []
for number in range(1, 6): 
    number_list.append(number)

number_list

[1, 2, 3, 4, 5]

In [3]:
number_list = list(range(1, 6))

number_list

[1, 2, 3, 4, 5]

In [4]:
number_list = [number for number in range(1,6)]

number_list

[1, 2, 3, 4, 5]

In [5]:
number_list = [number-1 for number in range(1,6)]
number_list

[0, 1, 2, 3, 4]

In [6]:
a_list = [number for number in range(1,6) if number % 2 == 1]

a_list

[1, 3, 5]

In [7]:
a_list = []
for number in range(1,6):
    if number%2 == 1:
        a_list.append(number)
        
a_list

[1, 3, 5]

List Comprehension 예제

In [8]:
sentence = ['I', 'Love', 'Python', 'Sooooooo', 'MUCH!!!']

# 함수 적용
[word.lower() for word in sentence]

['i', 'love', 'python', 'sooooooo', 'much!!!']

In [9]:
# 조건 적용
[word for word in sentence if len(word) > 6]

['Sooooooo', 'MUCH!!!']

In [10]:
# 함수 적용하여 튜플로 저장
[(x, x ** 2, x ** 3) for x in range(10)]

[(0, 0, 0),
 (1, 1, 1),
 (2, 4, 8),
 (3, 9, 27),
 (4, 16, 64),
 (5, 25, 125),
 (6, 36, 216),
 (7, 49, 343),
 (8, 64, 512),
 (9, 81, 729)]

List Comprehension – 두 개의 for

In [11]:
rows = range(1,4) 
cols = range(1,3) 
for row in rows:
    for col in cols: 
        print(row, col)

1 1
1 2
2 1
2 2
3 1
3 2

In [12]:
rows = range(1,4) 
cols = range(1,3)
cells = [(row, col) for row in rows for col in cols] 
for cell in cells:
    print(cell)

(1, 1)
(1, 2)
(2, 1)
(2, 2)
(3, 1)
(3, 2)

In [13]:
# 다음은 어떤 결과가 나올까요?
[(i,j) for i in range(5) for j in range(i)]

[(1, 0),
 (2, 0),
 (2, 1),
 (3, 0),
 (3, 1),
 (3, 2),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3)]

Dictionary Comprehension

In [14]:
word = 'letters'
letter_counts = {letter: word.count(letter) for letter in word}

letter_counts

{'l': 1, 'e': 2, 't': 2, 'r': 1, 's': 1}

In [15]:
word = 'letters'
letter_counts = {letter: word.count(letter) for letter in set(word)}

letter_counts

{'l': 1, 'r': 1, 's': 1, 't': 2, 'e': 2}

Set Comprehension

In [16]:
a_set = {number for number in range(1,6) if number % 3 == 1}
a_set

{1, 4}

Comprehension

In [17]:
# {v:k for k,v in d.items()}

In [18]:
#{word for word in hamlet if is_palindrome(word.lower())}

## Functions and code structure

In [19]:
def function_name(param1, param2):
    value = do_something()
    return value

In [20]:
def sum(a,b):
    return a+b


sum(1,2)

3

In [21]:
sum(1.3, 3.1)

4.4

In [22]:
sum('love ', 'python')

'love python'

iteration - zip()

In [23]:
days = ['Monday', 'Tuesday', 'Wednesday'] 
fruits = ['banana', 'orange', 'peach'] 
drinks = ['coffee', 'tea', 'beer']
desserts = ['tiramisu', 'ice cream', 'pie', 'pudding']
for day, fruit, drink, dessert in zip(days, fruits, drinks, desserts): 
    print(day, ": drink", drink, "- eat", fruit, "- enjoy", dessert)

Monday : drink coffee - eat banana - enjoy tiramisu
Tuesday : drink tea - eat orange - enjoy ice cream
Wednesday : drink beer - eat peach - enjoy pie

zip을 이용하여 영어-프랑스 사전 만들기

In [24]:
english = 'Monday', 'Tuesday', 'Wednesday' 
french = 'Lundi', 'Mardi', 'Mercredi'

list( zip(english, french) )
# [('Monday', 'Lundi'), ('Tuesday', 'Mardi'), ('Wednesday', 'Mercredi')]

[('Monday', 'Lundi'), ('Tuesday', 'Mardi'), ('Wednesday', 'Mercredi')]

In [25]:
dict( zip(english, french) )
# {'Monday': 'Lundi', 'Tuesday': 'Mardi', 'Wednesday': 'Mercredi'}

{'Monday': 'Lundi', 'Tuesday': 'Mardi', 'Wednesday': 'Mercredi'}

함수 위치 인자

In [26]:
# wine, entree, dessert를 받아서 딕셔너리로 만들어 반환하는 함수 
def menu(wine, entree, dessert):
    return {'wine': wine, 'entree': entree, 'dessert': dessert}

menu('bordeaux','beef','bagel')

{'wine': 'bordeaux', 'entree': 'beef', 'dessert': 'bagel'}

함수 키워드 인자

In [27]:
#wine, entree, dessert를 받아서 딕셔너리로 만들어 반환하는 함수
def menu(wine, entree, dessert):
    return {'wine': wine, 'entree': entree, 'dessert': dessert}

menu(entree='beef', dessert='bagel', wine='bordeaux')

{'wine': 'bordeaux', 'entree': 'beef', 'dessert': 'bagel'}

In [28]:
menu('frontenac', dessert='flan', entree='fish')

{'wine': 'frontenac', 'entree': 'fish', 'dessert': 'flan'}

기본 매개변수 값 정하기

In [29]:
# dessert의 기본값을 정해줌
def menu(wine, entree, dessert='pudding'):
    return {'wine': wine, 'entree': entree, 'dessert': dessert}

#함수호출
menu('chardonnay', 'chicken')

{'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'pudding'}

In [30]:
#dessert 값을 입력한 경우
menu('dunkelfelder', 'duck', 'doughnut')

{'wine': 'dunkelfelder', 'entree': 'duck', 'dessert': 'doughnut'}

가능한 경우

In [31]:
def menu(price, wine='chardonnay', entree='chicken', dessert='pudding'): 
    return print({'price': price, 'wine': wine, 'entree': entree, 'dessert': dessert})

In [32]:
menu(100) # 1위치 인자

{'price': 100, 'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'pudding'}

In [33]:
menu(price=100) # 1 키워드 인자

{'price': 100, 'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'pudding'}

In [34]:
menu(price=120, entree='beef') # 2 키워드 인자

{'price': 120, 'wine': 'chardonnay', 'entree': 'beef', 'dessert': 'pudding'}

In [35]:
menu(dessert='bagel', price=110) # 2 위치인자

{'price': 110, 'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'bagel'}

In [36]:
menu('eighty', 'saint-pierre','fish') # 3 위치인자

{'price': 'eighty', 'wine': 'saint-pierre', 'entree': 'fish', 'dessert': 'pudding'}

In [37]:
menu('hundred', wine='saint-pierre') # 1 위치 인자, 1 키워드 인자

{'price': 'hundred', 'wine': 'saint-pierre', 'entree': 'chicken', 'dessert': 'pudding'}

불가능한 경우

In [38]:
def menu(price, wine='chardonnay', entree='chicken', dessert='pudding'):
         return {'price': price, 'wine': wine, 'entree': entree, 'dessert': dessert}

In [39]:
# menu() # price에 인자가 할당이 안됨
# menu(price=100, ‘saint-pierre’) # 키워드 인자 할당 후, 위치 인자
# menu(100, price=120) # 같은 변수에 두 번 할당
# menu(main=‘cream pasta’) # 정의되지 않은 매개변수

docstring

함수 시작 부분에 문자열을 포함하여 함수 정의에 문서를 붙일 수 있음

In [40]:
def echo(anything):
    'echo returns its input argument' 
    return anything

In [41]:
def print_if_true(thing, check): 
    """
        Prints the first argument if a second argument is true. 
        The operation is:
        1. Check whether the *second* argument is true.
        2. If it is, print the *first* argument. 
    """
    if check: 
        print(thing)

help() 함수를 호출하여 내용을 출력할수 있음

In [42]:
help(echo)

Help on function echo in module __main__:

echo(anything)
    echo returns its input argument

In [43]:
echo(echo.__doc__)

'echo returns its input argument'

In [44]:
print_if_true('python',True)

python

In [45]:
help(print_if_true)

Help on function print_if_true in module __main__:

print_if_true(thing, check)
    Prints the first argument if a second argument is true.
    The operation is:
    1. Check whether the *second* argument is true.
    2. If it is, print the *first* argument.